[submodule "cookbooks/opscode-cookbooks"]
	path = cookbooks/opscode-cookbooks
	url = git@github.com:socsse/cookbooks.git
[submodule "cookbooks/37s-cookbooks"]
	path = cookbooks/37s-cookbooks
	url = git@github.com:socsse/37s_cookbooks.git
