[submodule "alien-cookbooks/opscode-cookbooks"]
	path = alien-cookbooks/opscode-cookbooks
	url = git@github.com:socsse/cookbooks.git
[submodule "alien-cookbooks/37s-cookbooks"]
	path = alien-cookbooks/37s-cookbooks
	url = git@github.com:socsse/37s_cookbooks.git
